<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- about the site -->
        <meta name="description" content="Web Developer and System Administrator who specialized in PHP, MySQL, HTML5, and CSS" />
        <meta name="author" content="Nick Otter" />
    
        <!-- do not allow devices to scale (zoom) - that means the phone css must be very readable -->
        <meta name="viewport"  content="width=device-width,  minimum-scale=1.0, maximum-scale=1.0" />

        <!-- specify content type -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- load the custom css style -->
        <link type="text/css" rel="stylesheet/less" media="screen" href="/css/main.less" />
        <link type="text/css" rel="stylesheet/less" media="screen and (max-device-width: 325px)" href="//nickotter.com/phone.less" />
        <link type="text/css" rel="stylesheet/css" media="print" href="//nickotter.com/print.css" />
        
        <!-- less library -->
        <script src="//nickotter.com/less.js" type="text/javascript"></script>
        
        <!-- jQuery Libraries -->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>-->
        <script src="//nickotter.com/jquery-1.7.2.min.js" type="text/javascript" />
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
        
        <!-- Custom Javascript Code -->
        <script src="//nickotter.com/main.js" type="text/javascript"></script>
        
        <title>Nick Otter - Web Application Developer</title>
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32686390-1']);
          _gaq.push(['_setDomainName', 'nickotter.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
        
        <div id="top">
            <div id="hello">
                <a name="more">Hello,</a><br />
                my name is <span id="name">{{ name }}</span> <br />
               &amp <span id="jobTitle">I am a {{ title }}</span>
            </div><!-- end #hello -->
        </div><!-- end #top -->
        <div id="container">
            <div id="content">


                <div id="about" class="fadeIn">
                    <div>
                    I am Server Administrator and Lead Developer for <a target="_blank" href="http://tnoc.us">The Network Operations Company</a>
                    in Boise, ID. I specialize in Web Applications using PHP, MySQL &amp; Ajax. Currently I work on the 
                    Digital Signage Display <a target="_blank" href="http://livesigns.net">LiveSigns <sup>&reg;</sup></a> while maintaining
                    the <a target="_blank" href="http://ketchum.unwiredcity.com">UnwiredCity Portals.</a>
                    <br /><br />
                    I also maintain Apache Configurations, MySQL Databases, User and FTP Access Acounts.
                    </div>
                    <a href="#more" id="about-more">More</a>
                </div><!-- end #about -->

                
                <div id="menu" class="fadeIn">
                    <ul>
                        <li>
                            <a target="_blank" href="mailto:otternq@gmail.com">
                                Email
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.linkedin.com/in/nickotter">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://twitter.com/otternq/">
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div><!-- end #menu -->
                <div id="services" class="fadeIn">
                    <ul>
                        <li>
                            <a href="/services/hosting/">Web Hosting</a>
                        </li>
                        <li>
                            <a href="/services/development/">Web Development</a>
                        </li>
                    </ul>
                </div>
            </div><!-- end #content -->
            <div id="rightColumn" class="fadeIn">
                {% for image in productImages %}
                <img src="{{ image.url }}" alt="{{ image.title }}" title="{{ image.title }}" />
                {% endfor %}
            </div><!-- end #rightColumn -->
        </div><!-- end #container -->
        
    </body>
</html>
