<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- about the site -->
        <meta name="description" content="Web Developer and System Administrator who specialized in PHP, MySQL, HTML5, and CSS" />
        <meta name="author" content="Nick Otter" />
    
        <!-- do not allow devices to scale (zoom) - that means the phone css must be very readable -->
        <meta name="viewport"  content="width=device-width,  minimum-scale=1.0, maximum-scale=1.0" />

        <!-- specify content type -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- load the custom css style -->
        <link type="text/css" rel="stylesheet/less" media="screen" href="/css/main.less" />
        <link type="text/css" rel="stylesheet/less" media="screen and (max-width: 425px)" href="/css/phone.less" />
        
        <!-- less library -->
        <script src="/javascript/less.js" type="text/javascript"></script>
        
        <!-- jQuery Libraries -->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>-->
        
        <!-- Custom Javascript Code -->
        <script src="/javascript/main.js" type="text/javascript"></script>
        
        <title>Nick Otter | Web Application Developer</title>
        
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32686390-1']);
          _gaq.push(['_setDomainName', 'nickotter.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
        
        <div id="top" class="colorBars">
            <div id="hello">
                <a name="more">Hello,</a><br />
                my name is <span id="name">{{ name }}</span> <br />
               &amp <span id="jobTitle">I am a {{ title }}</span>
            </div><!-- end #hello -->
        </div><!-- end #top -->
        <div id="container">
            <div id="content">


                <div id="about">
                    <div>
                    I am Senior Developer for <a href="//tnoc.us/">The Network Operations Company</a>
                    responsible for the development, maintenance, and hosting of various web applications and servers.
                    </div> 
                    <!--<a href="#more" id="about-more">More</a>-->
                </div><!-- end #about -->

                
                <div id="menu">
                    <ul>
                        <li>
                            <a target="_blank" href="http://www.linkedin.com/in/nickotter">
                                <img src="/images/linkedin_logo.png" alt="LinkedIn" title="LinkedIn" />
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://twitter.com/otternq/">
                                <img src="/images/twitter_logo.png" alt="Twitter" title="Twitter" />
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://github.com/otternq/">
                                <img src="/images/github_logo.png?raw=true" alt="github" title="github" />
                            </a>
                        </li>
                    </ul>
                </div><!-- end #menu -->
                <div id="services">
                    <ul>
                        <li>
                            <a href="/services/hosting/">Web Hosting</a>
                        </li>
                        <li>
                            <a href="/services/development/">Web Development</a>
                        </li>
                    </ul>
                </div><!-- end servces -->
            </div><!-- end #content -->
            <div id="rightColumn">
                {% for image in productImages %}
                <img src="{{ image.url }}" alt="{{ image.title }}" title="{{ image.title }}" />
                {% endfor %}
            </div><!-- end #rightColumn -->
        </div><!-- end #container -->
        
    </body>
</html>
