
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>{{name}} | {{title}} | </title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>{{name}}</h1>
						<h2>{{title}}</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<img src="https://secure.gravatar.com/avatar/e893c15695d7d0e39e09d1462129edb6?s=140&amp;d=https://github.com/images/gravatars/gravatar-140.png" alt="" class="photo">
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								I'm a developer based in Moscow, ID interested in mobile development and tools that make a developers life easier. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>PHP</li>
								<li>HTML & CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Java</li>
								<li>Android</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Objective-C</li>
								<li>C++</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>The Network Operations Company</h2>
								<h3>Senior Developer</h3>
								<h4>2007-current</h4>
								<p>
									Responsible for the development and maintinance of web applications for both internal and customer facing tools. Facilitated a number of new tools and services to improve productivity and reduce cost such as: moving to Amazon Web Serices' EC<sup>2</sup>, migrated code base to version control sysem (git/github).
								</p>
							</div>

							<div class="job">
								<h2>University of Idaho - Auxiliary Services</h2>
								<h3>Computer Support</h3>
								<h4>2010 – 2011</h4>
								<p>
								Provide Technical Support to Auxiliary Staff Member and University of Idaho Residents.

								Between computer repairs I worked on a Web Applications (PHP and MySQL) for the University of Idaho Bookstore.
								</p>
							</div>

							<div class="job last">
								<h2>University of Idaho - Housing</h2>
								<h3>Resident Assistant</h3>
								<h4>2009-2010</h4>
								<p>
									As a University Resident Assistant I was responsible for planning both educational and recreational activities multiple times a month and also had the responsibility of reporting student conduct. These reports ranged from vandalism to alcohol abuse. The most important of my responsibilities was being knowledgeable about different University services offered and being able to direct a student to the correct service for a given situation.

								</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of Idaho</h2>
							<h3>Computer Science</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<!--<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

