<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>KickShot - Final</title>
<!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reveal-css/reveal.min.css">
    <link rel="stylesheet" href="/css/reveal-css/theme/moon.css" id="theme">
  </head>

  <body>
    <a href="/">
      <i class="glyphicon glyphicon-remove" style="font-size:50px; color:black;"></i>
    </a>

    <div class="reveal">

      <div class="slides">

        <section>
          <h2>KickShot for Android</h2>
          <p>Final Presentation</p>

          <br /><br />
          <p>Nick Otter and Jordan Leithart</p>
        </section>

        <section>
          <h2>Goals of the Project</h2>
          <p>
            <ul>
              <li>Implement Level One game play</li>
              <li>Make game available on Google Play</li>
              <li>
                Possible Additions
                <ul>
                  <li>Leader Board</li>
                  <li>Achievements</li>
                </ul>
              </li>
              <li>Prepare for Level Two (WarmUp) game play</li>
            </ul>
          </p>
        </section>

        <section>
          <h2>Planning</h2>
          <ul>
            <li>Game play requirements defined by the board game</li>
            <li>Worked on flow charts to define logic</li>
            <li>Altered the design based on suer feedback</li>
            <li>Kept in contact with customer</li>
          </ul>
        </section>

        <section>
          <section>
            <h2>Flow Charts</h2>
          </section>

          <section>
            <h2>Player Offense</h2>
            <img src="http://redcarddev.github.io/images/screenshots/playeroffense.png" />

          </section>

          <section>
            <h2>Player Defense</h2>
            <img src="http://redcarddev.github.io/images/screenshots/playerdefense.png" />

          </section>

          <section>
            <h2>Player Shot</h2>
            <img src="http://redcarddev.github.io/images/screenshots/playershot.png" />

          </section>

          <section>
            <h2>Player Block</h2>
            <img src="http://redcarddev.github.io/images/screenshots/playerblock.png" />

          </section>

        </section>

        <section>
          <h2>Board Implementation</h2>
          <ul>
            <li>Custom View v.s. Game Engine</li>
            <li>
              Custom View
              <ul>
                <li>API</li>
                <li>BITMAP Images</li>
                <li>Score as text</li>
              </ul>
            </li>
            <li>Using a Game Engine may have helped with controlling player turns</li>
          </ul>

        </section>

        <section>

          <h2>Game Controller</h2>
          <ul>
            <li>Used an Android Activity to control game logic</li>
            <li>Maintain state variables</li>
            <li>Initializes few objects</li>
            <li>Interaction initiated by user clicks</li>
          </ul>

        </section>

        <section>
          <h2>User Interface</h2>

          <ul>
            <li>
              Menu items
              <ul>
                <li>Restart Level One (subject to change)</li>
                <li>Rules Page </li>
              </ul>
            </li>
            
            <li>
              Illustrations to help explain change in states
              <ul>
                <li>Intercepting state</li>
                <li>Shooting state</li>
                <li>Blocking state</li>
              </ul>

            </li>
            
            <li>Board image from the original game</li>
          </ul>


        </section>

        <section>
          <h2>Deliverables</h2>

          <ul>
            <li>
              Deliver to Customer
              <ul>
                <li>Application on Google Play</li>
                <li>Source Code</li>
                <li>Documentation</li>
              </ul>
            </li>
            
            <li>
              Illustrations to help explain change in states
              <ul>
                <li>Source Code</li>
                <li>Documentation</li>
                <li>Log Books</li>
              </ul>

            </li>
          </ul>


        </section>

        <section>
          <h2>Future Plans</h2>
          <ul>
            <li>
              Smooth transition to new team
              <ul>
                <li>Jordan will take over lead role</li>
                <li>Modular development to lower refactoring</li>
              </ul>
            </li>
            <li>KickShot WarmUp</li>
          </ul>
        </section>

      </div>

    </div>

    <script src="/javascript/reveal-js/reveal.min.js"></script>

    <script>

      Reveal.initialize();

    </script>

  </body>
</html>
